# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Rolodex/v15/ipch/AutoPCH/5dc39227f8e53cd3/ROLODEX.ipch
/.vs/Rolodex/v15/Browse.VC.opendb
/.vs/Rolodex/v15/Browse.VC.db
/.vs/Rolodex/v15/.suo
/.vs/ProjectSettings.json
/Debug/vc141.pdb
/Debug/vc141.idb
/Debug/Rolodex.tlog/Rolodex.lastbuildstate
/Debug/Rolodex.tlog/link.write.1.tlog
/Debug/Rolodex.tlog/link.read.1.tlog
/Debug/Rolodex.tlog/link.command.1.tlog
/Debug/Rolodex.tlog/CL.write.1.tlog
/Debug/Rolodex.tlog/CL.read.1.tlog
/Debug/Rolodex.tlog/CL.command.1.tlog
/Debug/Rolodex.pdb
/Debug/Rolodex.log
/Debug/Rolodex.ilk
/Rolodex.vcxproj.filters
/Rolodex.vcxproj
/Rolodex.sln
